.aboutbox .worksheet-wrap {
	float: right;
	width: 400px;
}
.worksheet-list {
	list-style: none;
	padding: 0;
	margin: 0;
}
.worksheet-info {
	float: left;
	margin-left: 25px;
	max-width: 260px;
}
.worksheet-item {
	margin-bottom: 8px;
}
.worksheet-what {
	font-family: 'fira_sansmedium';
	font-size: 16px;
	float: left;
}
.worksheet-info {
	font-family: 'fira_sansbook';
	font-size: 15px;
	overflow: hidden;
	max-width: 218px;
}

/* VARIABLE CONTENT */
.variable-content {
	min-width: 350px;
    width: 650px;
    background-color: #eff3f7;
    border-radius: 5px;
    margin-bottom: 27px;
    margin-left: 0;
    margin-right: auto;
}
.aboutbox {
	margin-top: 0;
    padding-top: 22px;
    margin-bottom: 35px;
}
.aboutbox-header:after {
	content: "";
    display: table;
    width: 55%;
    margin-left: -22px;
    margin-top: 20px;
    border-bottom: 2px solid #3ba8c0;
    color: #3ba8c0;
}

.aboutbox-header  {
	font-size: 27px;
    color: #3ba8c0;
    padding-left: 22px;
    padding-top: 22px;
}