.aboutbox .worksheet-wrap {
	float: right;
	width: 400px;
}
.worksheet-list {
	list-style: none;
	padding: 0;
	margin: -3px 0 0 -20px;
}
.worksheet-info {
	float: left;
	margin-left: 25px;
	max-width: 260px;
}
.worksheet-item {
	margin-bottom: 8px;
}
.worksheet-what {
	font-family: 'fira_sansmedium';
	font-size: 16px;
	float: left;
}
.worksheet-info {
	font-family: 'fira_sansbook';
	font-size: 15px;
	overflow: hidden;
	max-width: 218px;
}
/* VARIABLE CONTENT */
.aboutbox {
	background: #eff3f7;
	border-radius: 4px;
	margin-bottom: 26px;
	padding-bottom: 38px;
}
.aboutbox .aboutbox-header {
	line-height: 70px;
	border-bottom: 2px solid #3ba8c0;
	width: 350px;
	text-indent: 21px;
	margin: 0px;
	color: #3ba8c0;
	font-family: 'fira_sansbook';
	font-size: 27px;
    font-weight: normal;
   	font-style: normal;
   	margin-bottom: 20px;
}
.aboutbox-header .header-zx {
	width: 250px;
}
.aboutbox-body {
	padding-bottom: 40px;
}
/* avatar */
.image-wrap {
	float: left;
	margin-left: 55px;
	margin-top: 11px;
}
.avatar-box {
	width: 142px;
	height: 142px;
	border-radius: 50% 50%;
	overflow: hidden;
	border: 5px solid #3ba8c0;
}
.avatar {
	width: 100%;
}
/* skills */
.skills-list {
	list-style: none;
	width: 224px;
	padding: 0;
	margin-top: 4px;
	margin-left: -1px;
}
.skills-item{
	display:inline-block;
    background-image:
    -moz-linear-gradient(bottom, #2E8CA2 0%, #2E8CA2 52%, #3BA8C0 53%, #3BA8C0 100%);
    background-image:
    -o-linear-gradient(bottom, #2E8CA2 0%, #2E8CA2 52%, #3BA8C0 53%, #3BA8C0 100%);
    background-image:-webkit-linear-gradient(bottom, #2E8CA2 0%, #2E8CA2 52%, #3BA8C0 53%, #3BA8C0 100%);
    background-image:linear-gradient(to top, #2E8CA2 0%, #2E8CA2 52%, #3BA8C0 53%, #3BA8C0 100%);
    border-radius:2px;
    color:#FFF;
    font-family:"fira_sansmedium";
	font-size:14px;
    text-align:center;
    padding:0 12px;
    line-height:19px;
    margin-bottom:3px;
    margin-left:5px;
}
/* experience */
.tabular-header-text {
	font-size: 17px;
	font-family: 'fira_sansbook';
	color: #4a545d;
	margin: 0px;
	padding: 0px;
}
.tabular-text {
	font-size: 15px;
	font-family: 'fira_sanslight';
	color: #4a545d;
	margin: 0px;
	padding: 0px;
}
.list-info {
	list-style: none;
	margin-left: 86px;
	margin-top: -1px;
}
.list-info-item {
	margin-bottom: 8px;
	position: relative;	
}
.tabular-header-text:before {
	content: "";
	display: block;
	background: url(../img/sprite.png) no-repeat;
	position: absolute;
	top: 50%;
	transform: translateY(-50%) translateX(-50%); 
	left: -43px;
}
.tabular-header-text.bag:before {
	width: 36px;
    height: 34px;
    background-position: -461px -5px;
}
.tabular-header-text.hat:before {
    width: 42px;
    height: 23px;
    background-position: -507px -5px;
}
.tabular-header-text.list:before {
	width: 26px;
    height: 32px;
    background-position: -559px -5px;
}


