/* information title */
.information {
  height: 800px;
  width: 650px;
  background: #eff3f7;
  border-radius: 5px;
  overflow: hidden;
  padding-bottom: 0px;
}
.information-header {
   background-color:#48cbe8;
    border-bottom: 17px solid #67dffa;
    height: 120px;
}
.information-title {
  text-align: center;
  margin: 0px;
  color:#F9FAFB;
  font-family: 'fira_sansbook';
  font-size: 27px;
  font-weight: normal;
  font-style: normal;
  padding-top: 40px;
}
/* body form */
.information-form-block {
  margin: 0px auto;
}  
.body-form {
  width: 401px;
  margin: 42px auto;
  padding-bottom: 200px;
  position: relative;
}
.label-form {
  display: inline-block;
  margin-bottom: 10px;
}
.label-form.user-email{ 
  margin-left: 14px;
}
.label-form.user-message{
  margin: 0px;

}
.label-form.captcha-code {
  margin-left: 20px;
  margin-top: 19px;
}

.inform-label-text {
  font-family: 'fira_sanslight';
  font-size: 19px;
  color: #959aa8;
  margin: 0px;
}
.input {
  height: 37px;
  width: 171px;
  border: 1px solid #48cbe8;
  background: #fbfcfd;
  border-radius: 3px;
  font-family: 'fira_sanslight';
}
.input.textarea{
  width: 380px;
  height: 177px;
  background: #fbfcfd;
  resize: none;
}
.input.i-captcha {
  height: 28px;
  width: 171px;
}
.input::-webkit-input-placeholder {
   color: #48cbe8;
   font-size: 15px;
   padding-left: 10px;
 }
.captcha-img {
  float: left;
  background: #fbfcfd;
  padding: 15px 21px;
  border: 1px solid #48cbe8;
  border-radius: 5px;
  margin-bottom: 30px;
}
/* buttons */
.button {
  width: 137px;
  height: 33px;
  border: none;
  border-radius: 5px;
  font-size: 19px;
  font-family: 'fira_sansbook';
  color: #ffffff;
}
.button.send {
  background: #48cbe8;
  border-bottom: 2px solid #3ba8c0;
  position: absolute;
  top: 430px;
  left: 0px;
}
.button.send:hover {
  border-bottom: none;
}
.button.send:active {
  border-bottom: none;
  border-top: 2px solid #3ba8c0;
}
.button.clear {
  background: #849db5;
  border-bottom: 2px solid #687b8f;
  width: 125px;
  position: absolute;
  top: 430px;
  left: 277px;
}
.button.clear:hover {
  border-bottom: none;
}
.button.clear:active {
  border-bottom: none;
  border-top: 2px solid #3ba8c0;
}

