/* footer */
.footer-block {
	height: 80px;
	background: #eff3f7;
	font-family: 'fira_sanslight';
	color: #4a545d;
	margin-top: -80px;
}
.footer-container {
	max-width: 970px;
	min-width: 900px;
	margin: 0 auto;
}
.lock {
	width: 80px;
	height: 100%;
	float: left;
	position: relative;
}
.lock-link {
	font-family: 'fira_sansbook';
	font-size: 16px;
	color: #4a545b;
	text-decoration: none;
	display: block;
	margin: 27px 0 0 0;
}
.lock-link:before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 40px;
	background: url(../img/spritesheet.png) -595px -5px no-repeat;
	margin: 0;
    padding: 0px 0 0 0;
    position: absolute;
    left: -30px;
    top: 23px;
}
.lock-link:hover:before  {
	background: url(../img/spritesheet.png) -625px -5px no-repeat;
}
.copyright{
	padding-top: 30px;
	text-align: center;
	font-size: 13px;
	float: center;
}
