@import url("header.css");
@import url("content-me.css");
@import url("navigation.css");
@import url("footer.css");

/* global */
html {
	height: 100%;
}
body {
	height: 100%;
	background: url(../img/bg.png) repeat;
	font: normal 1em 'fira_sanslight';
	color: #4a545d;
}
.wrap-site {
	position: relative;
	min-height: 100%;
	min-width: 970px;
	height: auto !important; 
}
.wrap-site:after {
	content: "";
	height:  80px;
	display:  block;
}
.page-content {
	width: 960px;
	margin: 0 auto;
	margin-bottom: 10px;
}
.variable-content{
	width: 650px;
	float: right;
}
.clearfix:before,
.clearfix:after {
   content: " "; 
   display: table; 
}
.clearfix:after {
    clear: both;
}
