.sidebar {
	width: 250px;
    float: left;
    margin-left: 1px;
}
.navigation {
	overflow: hidden;
	background: #eff3f7;
	margin-bottom: 24px;
    border-radius: 5px;
}
.navigation .navigation-list {
	padding: 0;
    margin: 0;
    list-style: none;
}
.navigation .nanavigation-list-item {
	border-top: 2px solid #3ba8c0;
	margin: 0px 11px;
}
.navigation .nanavigation-list-item:first-child {
	border-top: none;
}
.navigation .nanavigation-list-item.active {
	background: #3ba8c0;
	margin: 0px;
	border-bottom: none;
	padding-left: 11px;
	margin-bottom: -2px;
}
.navigation .nanavigation-list-item.active .navigation-link {
	color: #f9fafb;
	font-size: 22px;
}
.navigation .navigation-link {
	font-family: 'fira_sansbook';
	display: block;
	font-size: 20px;
	text-decoration: none;
	color: #959aa8;
	margin-left: 17px;
	padding: 20px 0px;
}
.navigation .navigation-link:hover {
	color: #3ba8c0;
}
 /* CONTACT */
.contact {
	overflow: hidden;
	margin-bottom: 26px;
    border-radius: 5px;
}
.contact .contact-list {
	padding: 0;
    margin: 0;
    list-style: none;
}
.contact .contact-list-item {
	position: relative;
	height: 40px;
}
.contact .contact-list-item.con {
	background: #3ba8c0;
}
.contact .contact-list-item.email {
	background: #41b9d4;
}
.contact .contact-list-item.phone {
	background: #48cbe8;
}
.contact .contact-list-item.skype {
	background: #51daf8;
}
.contact .contact-title{
	display: block;
	font-family: 'fira_sansbook';
    color: #FBFCFD;
    font-size: 21px;
    margin-left: 19px; 
    padding-top: 7px; 
}
.contact .contact-link{
	text-decoration: none;
	display: block;
	font-family: 'fira_sansbook';
	font-size: 17px;
	color: #ffffff;
	margin-left: 10px;
	padding: 7px 5px;
	/* text-align: center; */
}
.contact .contact-link.email {
	margin-left: 36px;
	padding: 8px 5px;
}
.contact .contact-link.phone {
	margin-left: 79px;
	padding: 8px 5px;
}
.contact .contact-link.skype {
	margin-left: 77px;
	padding: 6px 5px;
}

.contact .contact-link:hover{
	text-decoration: underline;
}
.contact .contact-link:before {
	content: "";
	display: inline-block;
	position: absolute;
	background: url(../img/sprite.png) no-repeat;
}
.contact .contact-link.email:before {
	width: 21px;
	height: 16px;
	left: 11px;
    top: 12px;
	background-position: -655px -5px; 
}
.contact .contact-link.phone:before {
	width: 19px;
    height: 21px;
    left: 43px;
    top: 10px;
	background-position: -686px -5px; 
}
.contact .contact-link.skype:before {
	width: 20px;
    height: 20px;
    left: 43px;
    top: 10px;
	background-position: -715px -5px; 
}						